/* @import url(/assets/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF); */

:root {
  --primary: #1f427b;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header-top {
  height: 100px;
  width: 100%;
  background-color: var(--primary);
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  padding: 0px;
  height: 80px;
  width: fit-content;
  background-color: #1f427b;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.logo img {
  object-fit: contain;
}
.main {
  min-height: calc(100vh - 244px);
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===================================form */
.main-heading {
  /* font-family: Bahnschrift; */
  font-size: 42px;
  color: black;
  font-weight: 600;
}
.font-open {
  font-family: "Open Sans", sans-serif !important;
}
.secondry-heading {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.78px;
  color: black;
}
.text {
  font-size: 14px;
  color: #777677;
}
.sign-label {
  font-size: 16px;
  color: #777778;
  font-weight: 600;
}
.sign-label2 {
  font-size: 14px;
  color: #777778;
  font-weight: 500;
}
.sign-input {
  border-radius: 8px;
  border: 2px solid #7d7e7e;
  font-size: 18px;
  letter-spacing: 0px;
  color: black;
  font-weight: 400;
  padding: 10px 15px;
  height: 50px;
}
.sign-input::placeholder {
  color: #777677;
}
.sign-input2 {
  border-radius: 8px;
  border: 2px solid #7d7e7e;
  font-size: 16px;
  letter-spacing: 0px;
  color: black;
  font-weight: 400;
  padding: 10px 10px;
  height: 45px;
}
.sign-input2::placeholder {
  color: #777677;
}
.ask-acount {
  font-size: 16px;
  font-weight: 600;
  color: #0c0c0c;
}

.ask-acount a {
  font-size: 16px;
  letter-spacing: -1px;
  color: #21427b;
  font-weight: bold;
  text-decoration: none;
}
.ask-acount a:hover {
  text-decoration: underline;
}
.main-btn {
  background: #22427a;
  background: rgba(34, 66, 122, 1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 18px;
  letter-spacing: 0.65px;
  color: #ffffff !important;
  padding: 8px 50px;
  border: none;
  text-decoration: none;
}
.main-btn2 {
  background: #22427a;
  background: rgba(34, 66, 122, 1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 18px;
  letter-spacing: 0.65px;
  color: #ffffff !important;
  padding: 8px 40px;
  border: none;
  text-decoration: none;
}
.sign-text {
  font-family: Bahnschrift;
  font-size: 20px;
  letter-spacing: 0.86px;
  color: rgb(0, 0, 0);
}
/* =====================================account info */
.display-pictute {
  width: 144px;
  height: 144px;
  border-radius: 100%;
  object-fit: cover;
  position: relative;
  /* overflow: hidden; */
}
.display-pictute img {
  object-fit: cover;
  width: 144px;
  height: 144px;
  border: 2px solid #ddd;
  border-radius: 100%;
}
.upload-img-btn {
  border: none;
  padding: none;
  margin: none;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  right: -20px;
}
.upload-img-btn label img {
  height: 50px;
  width: auto;
  cursor: pointer;
}
.info-box {
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
}
.info-box:hover {
  background-color: #f3f3f3;
}
.info-box-label {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.7px;
  color: #231f20;
}
.info-box-value {
  font-size: 18px;
  letter-spacing: -0.7px;
  color: rgb(35, 31, 32);
}

/* ====================================================booking */
.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: vertical;
  /* min-height: 90px; */
  line-height: 20px;
  box-sizing: border-box;
  border: 2px solid #7c7c7c;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif; /* ADDED */
  border-radius: 8px;
}

.textarea:focus {
  border: 1px solid var(--primary);
  outline: 3px solid var(--primary);
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder is possible";
  color: gray;
}
input,
textarea,
select {
  /* min-height: 40px; */
  width: 100%;
  /* box-sizing: border-box;
  border: 3px solid #7c7c7c; */
  /* padding: 10px;
  resize: vertical;
  font-size: 18px; */
  /* font-family: 'Roboto', sans-serif;
  border-radius: 8px; */
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--primary);
  outline: 2px solid var(--primary);
}

@media only screen and (min-width: 1700px) {
  .sign-label {
    font-size: 20px;
  }
  .sign-input {
    font-size: 25px;
    height: 68px;
    border-radius: 10px;
  }

  .main-btn {
    background: rgba(34, 66, 122, 1);
    border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    font-size: 25px;
    letter-spacing: 0.65px;
    color: #ffffff;
  }
  .ask-acount {
    font-size: 20px;
  }

  .ask-acount a {
    font-size: 22px;
  }
  .logo {
    height: 100px;
  }
  .main-heading {
    font-size: 45px;
  }
  .sign-text {
    font-family: Bahnschrift;
    font-size: 33px;
    letter-spacing: 0.86px;
    color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 580px) {
  .main-heading {
    font-size: 24px;
    font-weight: 700;
  }
  .secondry-heading {
    font-size: 20px;
  }
  .textarea {
    font-size: 14px;
  }
  .info-box {
    padding: 8px 8px;
  }
  .info-box-label {
    font-size: 16px;
    font-weight: 700;
  }
  .info-box-value {
    font-size: 14px;
  }
  .ask-acount {
    font-size: 14px;
  }

  .ask-acount a {
    font-size: 14px;
  }
  .sign-input {
    font-size: 14px;
  }
  .main {
    min-height: calc(100vh - 190px);
  }
  .header-top {
    height: 80px;
    width: 100%;
    background-color: var(--primary);
  }
  .logo img {
    height: 60px;
    width: auto;
  }
  .main-btn {
    background: #22427a;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0.65px;
    color: #ffffff;
    padding: 8px 40px;
  }
  .sign-text {
    font-family: Bahnschrift;
    font-size: 17px;
    letter-spacing: 0.86px;
    color: rgb(0, 0, 0);
  }
}

/* 
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cecece;
  padding: 22px 0; }
  .tabs .selector {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 340px;
    width: 100%;
    background-color: var(--primary);
    color: white; }
    .tabs .selector button {
      background-color: transparent;
      border: 1px solid #9b9b9b;
      border-radius: 0px;
      min-height: 36px;
      padding: 10px;
      width: 50%;
      max-width: 300px;
      margin: 0 6px;
      color: white;
      cursor: pointer;
      font-size: 13px; }
      .tabs .selector button.active {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color); }
      .tabs .selector button span {
        padding: 4px;
        border-radius: 0px;
        margin-left: 4px;
        background-color: var(--primary); } */
